h2 {
	font-size: 1.5em;
	line-height: 1.25em;
	font-weight: bold;
	margin-bottom: 2em;
}

@media (min-width: 40em) {
  h2 {
    font-size: 1.875em;
  }
	h2 + p {
		font-size: 1.25em;
	}
}

@media (min-width: 60em) {
  h2 {
    font-size: 2.25em;
  }
	h2 + p {
		font-size: 1.5em;
	}
}
