// Colors

$theme-primary-background: #FFD01C;
$theme-primary-text: #000;
$theme-primary-border: #D69E2E;

$theme-base-background: #FFF;
$theme-base-text: #000;
$theme-base-border: #EDF2F7;

$theme-positive-background: #68D391;
$theme-positive-text: #FFF;
$theme-positive-border: #38A169;

$theme-neutral-background: #f4f7fa;
$theme-neutral-text: #4a5568;
$theme-neutral-border: #CBD5E0;

$theme-negative-background: #FC8181;
$theme-negative-text: #FFF;
$theme-negative-border: #E53E3E;

$theme-disabled-background: #F7FAFC;
$theme-disabled-text: #E2E8F0;
$theme-disabled-border: #EDF2F7;

$theme-gray-background: #CBD5E0;
$theme-gray-text: #000;

$theme-white-background: #FFF;
$theme-white-text: #000;
$theme-white-border: #CBD5E0;

$theme-primary-dark-background: #D69E2E;
$theme-primary-dark-text: #FFF;
$theme-primary-dark-border: #975A16;

$theme-dark-background: #2D3748;
$theme-dark-text: #E2E8F0;
$theme-dark-border: #1A202C;

$theme-focus-shadow: rgba(0, 10, 30, 0.1);

// Border
$border-radius: 5px;

// Shadow
$shadow-normal: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-focus: 0 0 0 3px $theme-focus-shadow, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);