@tailwind base;
@tailwind components;

@import "styles/headings.scss";
@import "styles/buttons.scss";

@tailwind utilities;

* {
	-webkit-tap-highlight-color: transparent;
}

button:focus, input:focus, .focusable-child:focus-within {
	outline: none;
	box-shadow: 0 0 0 3px theme('colors.gray.400');
}

.tooltip * {
	outline: none !important;
}